 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-angularjs-plain"></i>
      <i class="devicon-css3-plain"></i>
      <p>I have worked with those front end libraries for the projects that I have worked with.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-csharp-plain"></i>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-dot-net-plain-wordmark"></i>
      <i class="devicon-python-plain"></i>
      <i class="devicon-jquery-plain-wordmark"></i>
      <i class="devicon-nodejs-plain"></i>
      <p>As I am a Software Engineering I have worked with many backend languages. I have worked with many projects and I have used programming languages like C#, Javascript, Asp.NET, MVC, Xamarin Forms etc</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-pycharm-plain-wordmark"></i>
      <i class="devicon-slack-plain-wordmark colored"></i>
      <i class="devicon-trello-plain-wordmark"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>Tools that I have used are depending with what languages I worked but mostly was Visual Studio for .NET projects and Xamarin projects, Visual Studio Code for web development etc. </p>
    </div>
</div>
