<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="markel.hoxha4@outlook.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Linkedin" target="https://www.linkedin.com/in/markel-hoxha-888754133/" href="#"><i class="icon fa fa-linkedin-in" aria-hidden="true"></i></a>
        <a aria-label="My UpWork" target="_blank" href="https://www.upwork.com/freelancers/~01288682e5e40ccbfa"><i class="icon fas fa-laptop-code" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/MarkelHoxha1"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
