<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Freelancer UpWork </h3>
    <ul>
      <li> Decemeber 2019 - present</li>
    </ul>
    <p>
      Working mostly on .NET stack.</p>
    <a class="project-link" href="https://www.upwork.com/freelancers/~01288682e5e40ccbfa">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Working Student Software Engineer | FARO Technologies </h3>
    <ul>
      <li> November 2019 - present</li>
    </ul>
    <p>
      Working with C++ and C# for scanner applications.</p>
    <a class="project-link" href="https://www.faro.com/de-de/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Full Stack .Net Developer | IKUbInfo </h3>
    <ul>
      <li> March 2018 - October 2019</li>
    </ul>
    <p>
      Worked with .Net stack for 2 government platforms and with xamarin forms using sdk ESRI for creating a cross platform mobile application.</p>
    <a class="project-link" href="https://ikubinfo.al/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Software Developer | IMB </h3>
    <ul>
      <li> January 2017 - March 2018</li>
    </ul>
    <p>Developing in different modules of financial software ( Alpha Web , Alpha Web Mobile ) and API web services :

      ▪Alpha Web
      -Developed as part of a big team in different modules of the ERP.
      -Adding new features and solving bugs.
      -Creating and optimizing stored procedures for reports.
      
      ▪Cash Register Adapter (Kasa)
      - Developed Web Service API to print in different fiscal printers from Alpha Software.
      
      ▪AlphaWeb API
      -Developing in Server API to manage Licenses, real time notification to clients for new features and AlphaWeb API for integrating outside applications with AlphaWeb
      I am part of development team for below modules in AlphaWeb-Mobile which is a application that integrated into all kinds of smartphones.
      
      ▪ Sales and purchases
      ▪ Cash and Bank
      ▪ Reports
      ▪ Inventory</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
